/* wrapper used to take 100% of height making navbar buttons unclickable */
#fcc_test_suite_wrapper {height: 100px;}

html {
    font-family: "Open Sans";
    background-color: #ffffff;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
    "Navigation Body";
}

/* NAVBAR */
#navbar {
    position: fixed;
    top: 0;
    height: 100%;
    width: 300px;
    grid-area: Navigation;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #99a2a2;
}
.nav-links {display: flex; flex-direction: column; gap: 20px;}
#navbar-header {font-size: 28px; margin: 20px 0px 20px 20px;}
.nav-link {font-size: 18px; text-decoration: none; color: black; opacity: 0.8; padding: 10px 10px 0px 10px; border-top: 1px solid #4d4e53; display: inline-block; vertical-align: middle; line-height: normal;}

/* MAIN BODY */
#main-doc {
    grid-area: Body;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.main-section {margin: 20px 0px 20px 0px;}
.main-header {font-size: 28px;}
.opaque-text {font-size: 16px; opacity: 0.6;}

code {
    display: flex;
    line-height: 25px;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
}

#copyright-footer {
    font-size: 14px;
}

#github-link:link, #freecodecamp-project-link:link, #github-link:visited, #freecodecamp-project-link:visited {
    color: #b64a02;
    text-decoration: none;
}

@media (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 1fr;
        grid-template-areas:
         "Navigation"
         "Body";
    }
    #navbar {
        position: static; align-items: center; width: 100%;
    }
    .nav-links {
        width: 100%;
        align-items: center;
        overflow: auto;
        border: #4d4e53;
        border-style: solid;
        padding-top: 1px;
        padding-bottom: 15px;
    }
    .nav-link {box-sizing: border-box; width: 100%; padding: 12px 5px 0px 5px; text-align: center; margin: 0;}
}


