body {
    background-color: #eeeeee;
    font-family: "Segoe UI";
}
header {
    display: grid;
    place-items: center;
    font-family: "Segoe UI";
    color: #333333;
}
figure {
    display: grid;
    place-items: center;
    background-color: #ffffff;
    margin: 0% 0% 0% 0%;
    /* for figcaption */
    font-size: 16px;
}
/* making img responsive */
figure img {
    max-width: 1024px; /* original img width */
    width: 100vw; 
}
figure figcaption {
    margin: 20px;
} 
article {
    margin-top: 20px;
    display: grid;
    grid-template-columns: minmax(0px,50%) 60vmin minmax(0px,50%);
    place-items: center; 
    font-weight: lighter;
}
article h2 {
    font-weight: normal;
    font-size: 20px;
}
article * {
    grid-column: 2/3; /* place all text in the center */
}
article li b {
    font-weight: bold; /* make bold text actually bold! */
}
footer {
    font-family: "Segoe UI";
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

#copyright-footer {
    font-weight: normal;
    text-align: center;
    font-size: 12px;
}

#github-link:link, #freecodecamp-project-link:link, #github-link:visited, #freecodecamp-project-link:visited {
    color: #332929;
}